<a href="https://colab.research.google.com/github/deblu-svg/Learning-DL/blob/master/Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hello and welcome to colab')

hello and welcome to colab

In [2]:
12-9

3

In [2]:
!pip install

ERROR: Could not find a version that satisfies the requirement tenserflow-gpu (from versions: none)
ERROR: No matching distribution found for tenserflow-gpu

Loading data into colab

First Way of loading data: Manually locate the file

In [3]:
from google.colab import files
uploaded = files.upload()

Saving 359079_703782_bundle_archive.zip to 359079_703782_bundle_archive.zip

In [4]:
# Unzip Data 

from zipfile import ZipFile

file_name = "359079_703782_bundle_archive.zip"
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

done

In [6]:
# Read CSV file using pandas

import pandas as pd
df=pd.read_csv('listings.csv')
df.tail()

            id  ... availability_365
7902  38105126  ...               61
7903  38108273  ...              365
7904  38109336  ...              173
7905  38110493  ...               30
7906  38112762  ...              365

[5 rows x 16 columns]

Second Way of loading data: 
Mounting Google Drive 
1.Mount Google Drive and upload the data to Google drive
2.Unzip the zip file and extract all files in it

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [9]:
# Upload data
from zipfile import ZipFile
file_name = "/content/drive/My Drive/359079_703782_bundle_archive.zip"
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

done

In [10]:
# Read CSV file using pandas

import pandas as pd
df=pd.read_csv('listings.csv')
df.head()

      id  ... availability_365
0  49091  ...              365
1  50646  ...              365
2  56334  ...              365
3  71609  ...              353
4  71896  ...              355

[5 rows x 16 columns]

Third Way of loading data: Using Git

In [13]:
! git clone https://github.com/awesomedata/awesome-public-datasets

fatal: destination path 'awesome-public-datasets' already exists and is not an empty directory.

In [14]:
! git clone https://github.com/datasets/country-list.git

Cloning into 'country-list'...
remote: Enumerating objects: 96, done.
remote: Total 96 (delta 0), reused 0 (delta 0), pack-reused 96
Unpacking objects: 100% (96/96), done.

In [15]:
# Read CSV file using pandas

import pandas as pd
df=pd.read_csv('country-list/data.csv')
df.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

To delet a directory

In [17]:
!rm -rf awesome-public-datasets

In [18]:
! git clone https://github.com/awesomedata/awesome-public-datasets

Cloning into 'awesome-public-datasets'...
remote: Enumerating objects: 1944, done.
remote: Total 1944 (delta 0), reused 0 (delta 0), pack-reused 1944
Receiving objects: 100% (1944/1944), 763.38 KiB | 7.56 MiB/s, done.
Resolving deltas: 100% (1173/1173), done.